@font-face {
  font-family: 'PixelFont';
  src: url('../fonts/PressStart2P-Regular.ttf');
  font-weight: 400;
  font-weight: normal;
}

body {
  font-family: PixelFont;
}

canvas {
 margin: auto;
 display: block;
}