<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <div style="font-family: PixelFont; position: absolute; left:-1000px; visibility:hidden;">.</div>
  <div id="container"></div>
</body>
</html>